<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsrMapper">
    <!-- 根据主键查询信息 -->
    <select id="findUsrByIds" parameterType="int" resultType="com.example.demo.entity.Usr">
        SELECT *
        FROM javaee.usr s WHERE s.userid = #{sid}
    </select>

    <insert id="addUsr" parameterType="com.example.demo.entity.Usr">
        insert into javaee.usr(userid,username,passwd) values (#{uid},#{uname},#{upwd})
    </insert>

</mapper>
